.carousel {
  position: relative;
  top: 70px;
  left: 0;

  width: auto;
  height: 200px;

  &-item {
    position: relative;

    display: block;

    height: 200px;

    &__image {
      width: 100%;
      max-width: 100%;
      height: 100%;

      object-fit: cover;
    }

    &__play {
      position: absolute;

      top: 49%;
      left: 50%;

      width: 40px;
      height: 40px;

      background-color: rgba($color: $color-black-1, $alpha: 0.5);

      text-align: center;
      line-height: 35px;

      border: 2px solid $color-white-0;
      border-radius: 50%;

      cursor: pointer;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);

        border-color: $color-primary;

        .carousel-item__icon {
          color: $color-primary;
        }
      }
    }

    &__icon {
      font-size: $fs-12;

      color: $color-white-0;

      transition: all 0.3s ease-in-out;
    }
  }
}

@media screen and (min-width: 600px) {
  .carousel {
    height: 260px;
    &-item {
      height: 260px;
    }
  }
}

//Responsive medium (tablets, iPads)
@include responsive-min-width('md') {
  .carousel {
    height: 350px;
    &-item {
      height: 350px;

      &__play {
        top: 49%;
        left: 50%;

        width: 50px;
        height: 50px;

        line-height: 49px;
      }

      &__icon {
        font-size: $fs-20 - 2;
      }
    }
  }
}

//Responsive large (Small screens, laptops)
@include responsive-min-width('lg') {
  .carousel {
    height: 450px;
    &-item {
      height: 450px;

      &__play {
        top: 50%;
        left: 50%;

        width: 50px;
        height: 50px;

        line-height: 49px;
      }

      &__icon {
        font-size: $fs-20 - 2;
      }
    }
  }
}

// Responsive extra large (Desktops, large screens)
@include responsive-min-width('xl') {
  .carousel {
    height: 580px;
    &-item {
      height: 580px;

      &__play {
        width: 70px;
        height: 70px;

        line-height: 69px;
      }

      &__icon {
        font-size: $fs-20;
      }
    }
  }
}

//Responsive extra extra large (Extra large screens, TV.)
@include responsive-min-width('xxl') {
  .carousel {
    height: 750px;
    &-item {
      height: 750px;

      &__play {
        width: 70px;
        height: 70px;

        line-height: 69px;
      }

      &__icon {
        font-size: $fs-20;
      }
    }
  }
}
