// Mobile First
.footer {
  position: relative;
  top: 50px;

  margin: 0 auto;
  width: 100%;
  background-color: $color-black-1;

  color: $color-gray-2;

  &-line {
    height: 1px;
    width: 100%;

    background-color: $color-white-0;
  }

  &-top {
    padding: $pd-40 $pd-30;
  }

  &-content {
    margin: $mg-20 0;

    &__title {
      position: relative;

      font-size: $fs-14;
      text-transform: uppercase;
      letter-spacing: $letter-spacing;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-tertiary-1;
      }

      &:after {
        content: '';

        position: absolute;
        bottom: -1px;
        left: -15px;

        display: block;

        width: 2px;
        height: 100%;
        background-color: $color-tertiary-1;
      }
    }

    &__list {
      margin-top: $mg-30;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 12rem;
    }

    &__item {
      margin: $mg-20 0;

      &:hover {
        color: $color-tertiary-1;
      }
    }

    &__text {
      margin-left: $mg-5;

      font-size: $fs-12 + 1;
      letter-spacing: 0.8;

      cursor: pointer;
      transition: color 0.3s ease;
    }

    &__icon {
      font-size: $fs-12;

      transition: color 0.3s ease;

      &--social {
        margin-right: $mg-20;

        font-size: $fs-30 - 5;
        color: $color-gray-2;

        cursor: pointer;
        transition: color 0.3s ease;
      }

      &--facebook {
        &:hover {
          color: $color-blue-1;
        }
      }

      &--youtube {
        &:hover {
          color: $color-secondary-1;
        }
      }

      &--instagram {
        &:hover {
          color: $color-tertiary-0;
        }
      }

      &--twitter {
        &:hover {
          color: $color-green-0;
        }
      }
    }

    &__social {
      margin: $mg-50 0;
    }

    &__partner {
      display: flex;
      flex-wrap: wrap;

      max-width: 300px;
      margin-top: $mg-30;
    }

    &__image {
      max-width: 40px;

      margin: $mg-10;

      background-color: $color-white-0;
      border: 1px solid transparent;
      border-radius: 50%;

      object-fit: cover;

      &:nth-child(1),
      &:nth-child(6) {
        margin-left: 0;
      }

      &:hover {
        filter: grayscale(100%);
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $pd-40 $pd-30;

    &__logo {
      max-width: 60px;
      object-fit: cover;
    }

    &__address {
      max-width: 380px;

      text-align: center;
      font-size: $fs-12 + 1;
      font-style: italic;
      letter-spacing: $letter-spacing;

      margin: $mg-30 0;
    }

    &__permit {
      max-width: 150px;
      object-fit: cover;
    }
  }
}

//Responsive medium (tablets, iPads)
@include responsive-min-width('md') {
  .footer {
    &-content {
      &__title {
        font-size: $fs-16 - 1;
      }

      &__list {
        display: flex;
        max-height: none;

        margin-top: $mg-30;
      }

      &__text {
        font-size: $fs-14;
        letter-spacing: 0.8;
      }

      &__icon {
        font-size: $fs-12;

        transition: color 0.3s ease;

        &--social {
          font-size: $fs-30 - 2;
        }
      }

      &__social {
        margin: $mg-50 - 5 0;
      }

      &__partner {
        max-width: 350px;
      }

      &__image {
        max-width: 42px;
      }
    }
  }
}

//Responsive large (Small screens, laptops)

@include responsive-min-width('lg') {
  .footer {
    &-top {
      padding: $pd-20 $pd-40 + 10;
    }

    &-content {
      &__partner {
        max-width: 250px;
      }

      &__image {
        max-width: 40px;

        margin: $mg-10 - 2;

        &:nth-child(1),
        &:nth-child(5),
        &:nth-child(9) {
          margin-left: 0;
        }

        &:nth-child(6) {
          margin-left: $mg-10;
        }
      }
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: $pd-40 $pd-70 $pd-40 $pd-30;

      &__logo {
        max-width: 60px;
        object-fit: cover;
      }

      &__address {
        margin: 0;
        max-width: 550px;

        font-size: $fs-14;
      }

      &__permit {
        max-width: 130px;
        object-fit: cover;
      }
    }
  }
}

// Responsive extra large (Desktops, large screens)

@include responsive-min-width('xl') {
  .footer {
    &-top {
      padding: $pd-20 0;

      width: 85%;
      margin: 0 auto;
    }

    &-content {
      &__partner {
        max-width: 280px;
      }

      &__image {
        max-width: 38px;

        margin: $mg-5 + 2;

        &:nth-child(6) {
          margin-left: 0;
        }

        &:nth-child(9),
        &:nth-child(5) {
          margin-left: $mg-5 + 2;
        }
      }
    }

    &-bottom {
      padding: $pd-20 $pd-20 $pd-20 0;

      width: 85%;
      margin: 0 auto;

      &__permit {
        max-width: 140px;
        object-fit: cover;
      }
    }
  }
}

//Responsive extra extra large (Extra large screens, TV.)

@include responsive-min-width('xxl') {
  .footer {
    &-top {
      padding: $pd-20 0;

      width: 75%;
      margin: 0 auto;
    }

    &-content {
      margin: $mg-20 + 5 0;

      &__title {
        font-size: $fs-16;
      }

      &__item {
        margin: $mg-20 0;
      }

      &__text {
        margin-left: $mg-10;

        font-size: $fs-14;
        letter-spacing: $letter-spacing;

        cursor: pointer;
        transition: color 0.3s ease;
      }

      &__icon {
        &--social {
          margin-right: $mg-20 + 5;

          font-size: $fs-30 + 2;
        }
      }

      &__social {
        margin: $mg-50 0;
      }

      &__partner {
        max-width: 300px;
      }

      &__image {
        max-width: 44px;

        margin: $mg-5;

        &:nth-child(9),
        &:nth-child(5) {
          margin-left: $mg-5;
        }
      }
    }

    &-bottom {
      padding: $pd-20 $pd-30 $pd-20 0;

      width: 75%;
      margin: 0 auto;

      &__logo {
        max-width: 65px;
        object-fit: cover;
      }

      &__address {
        max-width: 600px;

        font-size: $fs-16;
      }

      &__permit {
        max-width: 150px;
        object-fit: cover;
      }
    }
  }
}

//Responsive custom width >= 1600px
@media screen and (min-width: 1600px) {
  .footer {
    &-bottom {
      padding: $pd-20 80px $pd-20 0;
    }
  }
}
