.ticket-room {
  position: relative;
  width: 100%;
  min-height: auto;

  &__container {
    padding-top: $pd-40;
  }

  &__expired {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 $pd-20;

    background-color: rgba($color: $color-black-0, $alpha: 0.5);
  }

  &__expired-main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 700px;
    height: 100px;

    padding: 0 $pd-10;

    background-color: $color-white-1;

    border-radius: 10px;
  }

  &__text-expired {
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &__rebook {
    margin-left: $mg-5;

    color: $color-secondary-1;
    text-transform: uppercase;

    cursor: pointer;
  }

  &__book-small {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    height: 60px;

    background-color: $color-white-2;
    box-shadow: 0 -1px 0 0 $color-white-0, 0 1px 0 0 $color-white-0;
  }

  &__seats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    flex-basis: 50%;

    padding: $pd-5 $pd-20;
  }

  &__seat-small {
    @include styleText($color-green-0, $fs-16, $fw-700);
    text-transform: uppercase;
  }

  &__confirm-small {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 50%;

    background-color: $color-green-0;

    cursor: pointer;
  }

  &__text-confirm {
    @include styleText($color-white-0, $fs-16, $fw-700);
    text-transform: uppercase;
  }

  //Responsive large (Small screens, laptops)

  @include responsive-min-width('lg') {
    &__book-small {
      display: none;
    }
  }

  // Responsive extra large (Desktops, large screens)
  @include responsive-min-width('xl') {
    &__text-expired {
      font-size: $fs-16;
      text-align: center;
    }
  }

  //Responsive extra extra large (Extra large screens, TV.)

  @include responsive-min-width('xxl') {
    &__container {
      width: 85%;
      margin: 0 auto;
    }
  }
}
